beautifulsoup4==4.12.2
chromadb==0.4.9
llama_index==0.8.41
openai==0.27.8
openai_whisper==20230918
python-dotenv==1.0.0
pytube==15.0.0
Requests==2.31.0
streamlit==1.27.2
streamlit_chat==0.1.1
torch==2.0.1
whisper==1.1.10
git+https://github.com/linto-ai/whisper-timestamped
llama-cpp-python
watchdog
transformers
