chromadb==0.4.9
gcsfs==2023.9.2
llama_index==0.8.41
nest_asyncio==1.5.6
openai==0.27.8
openai_whisper==20230918
pandas==2.0.3
phoenix==0.9.1
python-dotenv==1.0.0
pytube==15.0.0
streamlit==1.27.2
torch==2.0.1
tqdm==4.65.0
whisper==1.1.10
